<html>
<!--  
  @test
  @bug 6533175
  @summary Block F10 if closest toplevel to keystroke target is not a Frame.
  @author yuri nesterenko : area= awt.toplevel
  @run applet F10TopToplevel.html
  -->
<head>
<title>  </title>
</head>
<body>

<h1>F10TopToplevel<br>Bug ID: 6533175 Pressing F10 when a modal dialog is visible hangs the Xserver, XToolkit</h1>

<p> This is an AUTOMATIC test, simply wait for completion </p>

<APPLET CODE="F10TopToplevel.class" WIDTH=200 HEIGHT=200></APPLET>
</body>
</html>

