grant codeBase "file:${{java.ext.dirs}}/*" {
	permission java.security.AllPermission;
};

grant {
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.lang.RuntimePermission "getClassLoader";
};

