root = true

[*]
charset = utf-8

[*.{cpp,hpp,c,h,java,cc,hh,m,mm,S,md,properties,gmk,m4,ac}]
trim_trailing_whitespace = true

[Makefile]
trim_trailing_whitespace = true

[src/hotspot/**.{cpp,hpp,h}]
indent_style = space
indent_size = 2
