/*
 * Copyright (c) 2008, 2009, Oracle and/or its affiliates. All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
 * or visit www.oracle.com if you need additional information or have any
 * questions.
 */

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 340, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Ytterligare komponenter behövs"
EXSTYLE WS_EX_APPWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "", IDC_DOWNLOAD_MASTHEAD, 0, 0, 340, 39
    LTEXT           "", IDC_MASTHEAD_TEXT, 60, 14, 200, 12
    CONTROL         "", IDC_STATIC,"Static", SS_BLACKFRAME | SS_SUNKEN,
                    0, 39, 340, 1
    LTEXT           "", IDC_DOWNLOAD_TEXT, 12, 60, 316, 20
    LTEXT           "", IDC_TIME_REMAINING, 12, 90, 316, 10
    CONTROL         "Progress1",1006,"msctls_progress32",PBS_SMOOTH,
                    12, 100, 265, 14
    PUSHBUTTON	    "Avbryt",  2, 285, 100, 46, 14
END
/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    105, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        TOPMARGIN, 7
        BOTTOMMARGIN, 63
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DOWNLOAD_CANCEL_MESSAGE   "Programmet kan avslutas om du avbryter installationen av ytterligare komponenter som är nödvändiga för programmet.\n\nVill du avbryta installationen av ytterligare komponenter?"
    IDS_DOWNLOAD_CANCEL_CAPTION   "Avbryt - Ytterligare komponenter"
    IDS_DOWNLOAD_CANCEL_INSTRUCTION   ""
    IDS_HTTP_INSTRUCTION_REQUEST_TIMEOUT      "Anslutningen avbröts på grund av timeout"
    IDS_HTTP_INSTRUCTION_SERVER_NOT_REACHABLE "Det går inte att ansluta till Internet."
    IDS_HTTP_INSTRUCTION_UNKNOWN_ERROR        "Serverfel (Fel %s)"
    IDS_HTTP_INSTRUCTION_SERVICE_UNAVAIL      "Tjänsten är inte tillgänglig (Fel %s)"
    IDS_HTTP_INSTRUCTION_FORBIDDEN            "Åtkomst nekad eller förbjuden (Fel %s)"
    IDS_HTTP_STATUS_OTHER                     "Ett fel inträffade i samband med begäran. Vill du försöka skicka begäran igen?"

// HTTP status code
    IDS_HTTP_STATUS_REQUEST_TIMEOUT "Ett tidsfel inträffade medan servern väntade på begäran."
    IDS_HTTP_STATUS_FORBIDDEN		"Servern förstod begäran men vägrar uppfylla den."
    IDS_HTTP_STATUS_SERVER_ERROR	"Ett oväntat tillstånd som innebär att begäran inte kan uppfyllas påträffades."
    IDS_HTTP_STATUS_SERVICE_UNAVAIL	"Tjänsten är tillfälligt överbelastad."


    IDS_DOWNLOAD_STATUS_RETRY		"Servern är upptagen för närvarande. Försök igen om %ld sekund(er) ..."

    IDS_ERROR_CAPTION               "Fel - Java Kernel"
    IDS_HOURSMINUTESECOND	    "Återstående tid: %d timmar %d minuter %.0f sekunder"
    IDS_HOURMINUTESECOND	    "Återstående tid: %d timme %d minuter %.0f sekunder"
    IDS_MINUTESECOND 		    "Återstående tid: %d minuter %.0f sekunder"
    IDS_SECOND                      "Återstående tid: %.0f sekunder"
    IDS_DISK_FULL_ERROR_CAPTION     "Disken är full"
    IDS_DISK_FULL_ERROR             "Java Kernel kunde inte ladda ned nödvändiga komponenter därför att disken är full.  Försöka igen?"
    IDS_DISK_WRITE_ERROR_CAPTION    "Fel vid skrivning till disk"
    IDS_DISK_WRITE_ERROR            "Java Kernel stötte på ett fel vid skrivning till disken.  Försöka igen?"
    IDS_HTTP_STATUS_SERVER_NOT_REACHABLE "Java Kernel kan inte fortsätta med systemets aktuella inställningar för Internetanslutning.  Öppna Kontrollpanelen, Internet-alternativ > Anslutningar och kontrollera att inställningarna och proxyinformationen stämmer."

    IDS_DOWNLOAD_RETRY             "Nedladdningsfel"
    IDS_DOWNLOAD_RETRY_TEXT        "Ett fel uppstod under nedladdning av vissa begärda komponenter. Vill du försöka ladda ned dessa komponenter igen?"

    IDS_DOWNLOAD                   "Ytterligare komponenter installeras"
	IDS_DOWNLOAD_UNPACKING         "Uppackning av paket"
    IDS_DOWNLOAD_TEXT              "Java-applikationen startar när ytterligare komponenter som krävs är nedladdade och installerade."
    
    IDS_FILE_UPDATE_ERROR          "Ett fel uppstod när %s%s uppdaterades."
    IDS_FILE_DELETE_ERROR          "Ett fel uppstod när %s skulle tas bort."
    IDS_JAVA_HOME_ERROR            "Det går inte att avgöra Javas hemkatalog"
    IDS_KERNEL_HOME_ERROR          "Det går inte att avgöra sökvägen till jkernell.dll."
    IDS_JBROKER_ERROR              "Det går inte att starta jbroker.exe."
    IDS_FATAL_ERROR                "Det gick inte att ladda ned de nödvändiga komponenterna med Java.  Programmet avslutas."
    IDS_ERROR_DOWNLOADING_BUNDLE_PROPERTIES "Det gick inte att upprätta någon kommunikation mellan Java och nedladdningsservern.  Programmet avslutas."
    IDS_ERROR_MALFORMED_BUNDLE_PROPERTIES "Det uppstod ett fel i kommunikationen mellan Java och nedladdningsservern.  Programmet avslutas."
    IDS_ERROR_MALFORMED_URL "Det gick inte att ladda ned från webbadressen '%s'.  Programmet avslutas."
END
