/*
 * Copyright 2008 - 2009 Sun Microsystems, Inc.  All Rights Reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Sun designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Sun in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara,
 * CA 95054 USA or visit www.sun.com if you need additional information or
 * have any questions.
 */

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 340, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "所需的其他元件"
EXSTYLE WS_EX_APPWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "", IDC_DOWNLOAD_MASTHEAD, 0, 0, 340, 39
    LTEXT           "", IDC_MASTHEAD_TEXT, 60, 14, 200, 12
    CONTROL         "", IDC_STATIC,"Static", SS_BLACKFRAME | SS_SUNKEN,
                    0, 39, 340, 1
    LTEXT           "", IDC_DOWNLOAD_TEXT, 12, 60, 316, 20
    LTEXT           "", IDC_TIME_REMAINING, 12, 90, 316, 10
    CONTROL         "Progress1",1006,"msctls_progress32",PBS_SMOOTH,
                    12, 100, 265, 14
    PUSHBUTTON	    "取消",  2, 285, 100, 46, 14
END
/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    105, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        TOPMARGIN, 7
        BOTTOMMARGIN, 63
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DOWNLOAD_CANCEL_MESSAGE   "取消安裝應用程式所需的其他元件，可能會導致應用程式結束。\n\n您確定要取消安裝其他元件？"
    IDS_DOWNLOAD_CANCEL_CAPTION   "取消 - 其他元件"
    IDS_DOWNLOAD_CANCEL_INSTRUCTION   ""
    IDS_HTTP_INSTRUCTION_REQUEST_TIMEOUT      "連線逾時"
    IDS_HTTP_INSTRUCTION_SERVER_NOT_REACHABLE "無法連線至網際網路"
    IDS_HTTP_INSTRUCTION_UNKNOWN_ERROR        "伺服器錯誤 (錯誤 %s)"
    IDS_HTTP_INSTRUCTION_SERVICE_UNAVAIL      "無法使用服務 (錯誤 %s)"
    IDS_HTTP_INSTRUCTION_FORBIDDEN            "拒絕或禁止存取 (錯誤 %s)"
    IDS_HTTP_STATUS_OTHER                     "在此請求期間發生錯誤。是否要重試請求？"

// HTTP status code
    IDS_HTTP_STATUS_REQUEST_TIMEOUT "伺服器等待請求時出現逾時。"
    IDS_HTTP_STATUS_FORBIDDEN		"伺服器瞭解該請求，但正在拒絕實現它。"
    IDS_HTTP_STATUS_SERVER_ERROR	"伺服器遇到阻止其實現請求的未預期條件。"
    IDS_HTTP_STATUS_SERVICE_UNAVAIL	"服務暫時超載。"


    IDS_DOWNLOAD_STATUS_RETRY		"伺服器目前處於忙碌狀態，請在 %ld 秒後重試..."

    IDS_ERROR_CAPTION               "錯誤 - Java Kernel"
    IDS_HOURSMINUTESECOND	    "預估剩餘時間：%d 小時 %d 分 %.0f 秒"
    IDS_HOURMINUTESECOND	    "預估剩餘時間：%d 小時 %d 分 %.0f 秒"
    IDS_MINUTESECOND 		    "預估剩餘時間：%d 分 %.0f 秒"
    IDS_SECOND                      "預估剩餘時間：%.0f 秒"
    IDS_DISK_FULL_ERROR_CAPTION     "磁碟已滿"
    IDS_DISK_FULL_ERROR             "由於磁碟已滿，Java Kernel 無法下載所需的元件。是否要重試？"
    IDS_DISK_WRITE_ERROR_CAPTION    "磁碟寫入錯誤"
    IDS_DISK_WRITE_ERROR            "Java Kernel 在寫入至磁碟時遇到錯誤。是否要重試？"
    IDS_HTTP_STATUS_SERVER_NOT_REACHABLE "在系統目前的網際網路連線設定下，Java Kernel 無法繼續執行。在 Windows「控制台」中，請核對「網際網路選項」->「連線」，以確定設定和代理伺服器資訊正確。"

    IDS_DOWNLOAD_RETRY             "下載錯誤"
    IDS_DOWNLOAD_RETRY_TEXT        "下載某些所需元件時發生錯誤。是否要重試下載這些元件？"

    IDS_DOWNLOAD                   "正在安裝其他元件"
	IDS_DOWNLOAD_UNPACKING         "正在解壓縮束"
    IDS_DOWNLOAD_TEXT              "下載並安裝其他所需元件後，Java 應用程式將啟動。"
    
    IDS_FILE_UPDATE_ERROR          "更新 %s%s 時發生錯誤。"
    IDS_FILE_DELETE_ERROR          "移除 %s 時發生錯誤。"
    IDS_JAVA_HOME_ERROR            "無法確定 Java 主目錄。"
    IDS_KERNEL_HOME_ERROR          "無法確定 jkernel.dll 的路徑。"
    IDS_JBROKER_ERROR              "無法啟動 jbroker.exe。"
    IDS_FATAL_ERROR                "Java 無法下載所需的元件。程式將立即結束。"
    IDS_ERROR_DOWNLOADING_BUNDLE_PROPERTIES "Java 無法與下載伺服器進行通訊。程式將立即結束。"
    IDS_ERROR_MALFORMED_BUNDLE_PROPERTIES "Java 在與下載伺服器進行通訊時遇到了一個錯誤。程式將立即結束。"
    IDS_ERROR_MALFORMED_URL "Java 無法從 URL「%s」下載。程式將立即結束。"
END
