/*
 * Copyright 2008 - 2009 Sun Microsystems, Inc.  All Rights Reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Sun designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Sun in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara,
 * CA 95054 USA or visit www.sun.com if you need additional information or
 * have any questions.
 */


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 340, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Zusätzliche Komponenten erforderlich"
EXSTYLE WS_EX_APPWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "", IDC_DOWNLOAD_MASTHEAD, 0, 0, 340, 39
    LTEXT           "", IDC_MASTHEAD_TEXT, 60, 4, 220, 30
    CONTROL         "", IDC_STATIC,"Static", SS_BLACKFRAME | SS_SUNKEN,
                    0, 39, 340, 1
    LTEXT           "", IDC_DOWNLOAD_TEXT, 12, 60, 316, 20
    LTEXT           "", IDC_TIME_REMAINING, 12, 90, 316, 10
    CONTROL         "Progress1",1006,"msctls_progress32",PBS_SMOOTH,
                    12, 100, 265, 14
    PUSHBUTTON	    "Abbrechen",  2, 285, 100, 46, 14
END
/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    105, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        TOPMARGIN, 7
        BOTTOMMARGIN, 63
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DOWNLOAD_CANCEL_MESSAGE   "Wenn Sie die Installation zusätzlicher Komponenten, die für die Anwendung erforderlich sind, abbrechen, wird die Anwendung möglicherweise geschlossen.\n\nMöchten Sie die Installation zusätzlicher Komponenten wirklich abbrechen?"
    IDS_DOWNLOAD_CANCEL_CAPTION   "Abbrechen - Zusätzliche Komponenten"
    IDS_DOWNLOAD_CANCEL_INSTRUCTION   ""
    IDS_HTTP_INSTRUCTION_REQUEST_TIMEOUT      "Verbindungszeitüberschreitung"
    IDS_HTTP_INSTRUCTION_SERVER_NOT_REACHABLE "Internetverbindung kann nicht hergestellt werden"
    IDS_HTTP_INSTRUCTION_UNKNOWN_ERROR        "Serverfehler (Fehler %s)"
    IDS_HTTP_INSTRUCTION_SERVICE_UNAVAIL      "Der Dienst nicht verfügbar (Fehler %s)"
    IDS_HTTP_INSTRUCTION_FORBIDDEN            "Zugriff verweigert oder verboten (Fehler %s)"
    IDS_HTTP_STATUS_OTHER                     "Bei der Anfrage ist ein Fehler aufgetreten. Möchten Sie die Anfrage wiederholen?"

// HTTP status code
    IDS_HTTP_STATUS_REQUEST_TIMEOUT "Während der Server auf die Anforderung wartete, kam es zu einer Zeitüberschreitung."
    IDS_HTTP_STATUS_FORBIDDEN		"Der Server hat die Anforderung verstanden, verweigert jedoch deren Ausführung."
    IDS_HTTP_STATUS_SERVER_ERROR	"Der Server stieß auf eine unerwartete Bedingung, die das Ausführen der Anforderung verhinderte."
    IDS_HTTP_STATUS_SERVICE_UNAVAIL	"Der Dienst ist vorübergehend überlastet."


    IDS_DOWNLOAD_STATUS_RETRY		"Server beschäftigt. Erneuter Versuch in %ld Sekunden ..."

    IDS_ERROR_CAPTION               "Fehler - Java Kernel"
    IDS_HOURSMINUTESECOND	    "Verbleibende Zeit (geschätzt): %d Stunden, %d Minuten und %.0f Sekunden"
    IDS_HOURMINUTESECOND	    "Verbleibende Zeit (geschätzt): %d Stunde, %d Minuten und %.0f Sekunden"
    IDS_MINUTESECOND 		    "Verbleibende Zeit (geschätzt): %d Minuten %.0f Sekunden"
    IDS_SECOND                      "Verbleibende Zeit (geschätzt): %.0f Sekunden"
    IDS_DISK_FULL_ERROR_CAPTION     "Festplatte voll"
    IDS_DISK_FULL_ERROR             "Java Kernel konnte erforderliche Komponenten nicht herunterladen, da der Datenträger voll ist.  Noch einmal versuchen?"
    IDS_DISK_WRITE_ERROR_CAPTION    "Fehler beim Schreiben auf Datenträger"
    IDS_DISK_WRITE_ERROR            "Java Kernel hat beim Schreiben uf den Datenträger einen Fehler verursacht  Noch einmal versuchen?"
    IDS_HTTP_STATUS_SERVER_NOT_REACHABLE "Java Kernel kann aufgrund der aktuellen Internetverbindungseinstellungen Ihres Systems nicht fortfahren.  Überprüfen Sie in der Windows-Systemsteuerung unter 'Internetoptionen -> Verbindungen' die Einstellungen und Proxy-Angaben."

    IDS_DOWNLOAD_RETRY             "Downloadfehler"
    IDS_DOWNLOAD_RETRY_TEXT        "Beim Herunterladen einiger benötigter Komponenten ist ein Fehler aufgetreten. Möchten Sie noch einmal versuchen, diese Komponenten herunterzuladen?"

    IDS_DOWNLOAD                   "Zusätzliche Komponenten werden installiert."
    IDS_DOWNLOAD_UNPACKING         "Entpacken des Pakets"
    IDS_DOWNLOAD_TEXT              "Die Java-Anwendung wird starten, sobald zusätzliche Komponenten heruntergeladen und installiert sind."
    
    IDS_FILE_UPDATE_ERROR          "Beim Aktualisieren von %s%s ist ein Fehler aufgetreten."
    IDS_FILE_DELETE_ERROR          "Beim Entfernen von %s ist ein Fehler aufgetreten."
    IDS_JAVA_HOME_ERROR            "Java-Verzeichnis kann nicht ermittelt werden."
    IDS_KERNEL_HOME_ERROR          "Pfad der jkernel.dll kann nicht ermittelt werden."
    IDS_JBROKER_ERROR              "jbroker.exe kann nicht gestartet werden."
    IDS_FATAL_ERROR                "Java konnte einige erforderliche Komponenten nicht herunterladen.  Das Programm wird geschlossen."
    IDS_ERROR_DOWNLOADING_BUNDLE_PROPERTIES "Java konnte keine Verbindung zum Downloadserver herstellen.  Das Programm wird geschlossen."
    IDS_ERROR_MALFORMED_BUNDLE_PROPERTIES "Bei der Verbindung mit dem Downloadserver ist ein Fehler aufgetreten.  Das Programm wird geschlossen."
    IDS_ERROR_MALFORMED_URL "Java konnte von URL '%s' keinen Dowload ausführen.  Das Programm wird geschlossen."
END
