/*
 * Copyright (c) 2008, 2009, Oracle and/or its affiliates. All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
 * or visit www.oracle.com if you need additional information or have any
 * questions.
 */

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 340, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "追加コンポーネントが必要"
EXSTYLE WS_EX_APPWINDOW
FONT 10, "MS UI Gothic"
BEGIN
    LTEXT           "", IDC_DOWNLOAD_MASTHEAD, 0, 0, 340, 39
    LTEXT           "", IDC_MASTHEAD_TEXT, 60, 14, 200, 12
    CONTROL         "", IDC_STATIC,"Static", SS_BLACKFRAME | SS_SUNKEN,
                    0, 39, 340, 1
    LTEXT           "", IDC_DOWNLOAD_TEXT, 12, 60, 316, 20
    LTEXT           "", IDC_TIME_REMAINING, 12, 90, 316, 10
    CONTROL         "Progress1",1006,"msctls_progress32",PBS_SMOOTH,
                    12, 100, 265, 14
    PUSHBUTTON	    "取消し",  2, 285, 100, 46, 14
END
/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    105, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        TOPMARGIN, 7
        BOTTOMMARGIN, 63
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DOWNLOAD_CANCEL_MESSAGE   "アプリケーションが必要とする追加コンポーネントのインストールをキャンセルすると、アプリケーションが終了する可能性があります。\n\n追加コンポーネントのインストールをキャンセルしてよろしいですか？"
    IDS_DOWNLOAD_CANCEL_CAPTION   "キャンセル - 追加コンポーネント"
    IDS_DOWNLOAD_CANCEL_INSTRUCTION   ""
    IDS_HTTP_INSTRUCTION_REQUEST_TIMEOUT      "接続がタイムアウトしました"
    IDS_HTTP_INSTRUCTION_SERVER_NOT_REACHABLE "インターネットに接続できません"
    IDS_HTTP_INSTRUCTION_UNKNOWN_ERROR        "サーバーエラー (エラー %s)"
    IDS_HTTP_INSTRUCTION_SERVICE_UNAVAIL      "サービス利用不可 (エラー %s)"
    IDS_HTTP_INSTRUCTION_FORBIDDEN            "アクセスが拒否または禁止されています (エラー %s)"
    IDS_HTTP_STATUS_OTHER                     "この要求の処理中にエラーが発生しました。要求を再試行しますか?"

// HTTP status code
    IDS_HTTP_STATUS_REQUEST_TIMEOUT "要求を待機中にサーバーがタイムアウトしました。"
    IDS_HTTP_STATUS_FORBIDDEN		"サーバーは、要求を認識していますが、実行を拒否しています。"
    IDS_HTTP_STATUS_SERVER_ERROR	"サーバーは、要求の実行を妨げる予期しない状況に遭遇しました。"
    IDS_HTTP_STATUS_SERVICE_UNAVAIL	"サービスが一時的にオーバーロードしています。"


    IDS_DOWNLOAD_STATUS_RETRY		"サーバーは現在ビジーです。%ld 秒後に再試行します ..."

    IDS_ERROR_CAPTION               "エラー - Java カーネル"
    IDS_HOURSMINUTESECOND	    "予想残り時間: %d 時間 %d 分 %.0f 秒"
    IDS_HOURMINUTESECOND	    "予想残り時間: %d 時間 %d 分 %.0f 秒"
    IDS_MINUTESECOND 		    "予想残り時間: %d 分 %.0f 秒"
    IDS_SECOND                      "予想残り時間: %.0f 秒"
    IDS_DISK_FULL_ERROR_CAPTION     "ディスクがいっぱいです"
    IDS_DISK_FULL_ERROR             "ディスクがいっぱいのため、Java カーネルが必要なコンポーネントをダウンロードできませんでした。もう一度試しますか?"
    IDS_DISK_WRITE_ERROR_CAPTION    "ディスク書き込みエラー"
    IDS_DISK_WRITE_ERROR            "Java カーネルがディスクへの書き込み時にエラーを検出しました。もう一度試しますか?"
    IDS_HTTP_STATUS_SERVER_NOT_REACHABLE "Java カーネルは、お使いのシステムの現在のインターネット接続設定では動作しません。Windows のコントロールパネルで、「インターネットオプション」 -> 「接続」を選択して、設定およびプロキシ情報が正しいことを確認してください。"

    IDS_DOWNLOAD_RETRY             "ダウンロードエラー"
    IDS_DOWNLOAD_RETRY_TEXT        "要求されたコンポーネントの一部をダウンロード中にエラーが発生しました。これらのコンポーネントのダウンロードを再度試みますか ?"

    IDS_DOWNLOAD                   "追加コンポーネントをインストールしています"
	IDS_DOWNLOAD_UNPACKING         "バンドルを展開しています"
    IDS_DOWNLOAD_TEXT              "Java アプリケーションは、必須の追加コンポーネントのダウンロードおよびインストール後に起動します。"
    
    IDS_FILE_UPDATE_ERROR          "%s%s の更新中にエラーが発生しました。"
    IDS_FILE_DELETE_ERROR          "%s の削除中にエラーが発生しました。"
    IDS_JAVA_HOME_ERROR            "Java ホームディレクトリを判定できません。"
    IDS_KERNEL_HOME_ERROR          "jkernel.dll のパスを判定できません。"
    IDS_JBROKER_ERROR              "jbroker.exe を起動できません。"
    IDS_FATAL_ERROR                "Java が必要なコンポーネントをダウンロードできませんでした。プログラムは終了します。"
    IDS_ERROR_DOWNLOADING_BUNDLE_PROPERTIES "Java がダウンロードサーバーと通信できませんでした。プログラムは終了します。"
    IDS_ERROR_MALFORMED_BUNDLE_PROPERTIES "Java がダウンロードサーバーとの通信中にエラーを検出しました。プログラムは終了します。"
    IDS_ERROR_MALFORMED_URL "Java が URL '%s' からダウンロードできませんでした。プログラムは終了します。"
END
