/*
 * Copyright (c) 2008, 2009, Oracle and/or its affiliates. All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
 * or visit www.oracle.com if you need additional information or have any
 * questions.
 */

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 340, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "추가 구성 요소 필요"
EXSTYLE WS_EX_APPWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "", IDC_DOWNLOAD_MASTHEAD, 0, 0, 340, 39
    LTEXT           "", IDC_MASTHEAD_TEXT, 60, 14, 200, 12
    CONTROL         "", IDC_STATIC,"Static", SS_BLACKFRAME | SS_SUNKEN,
                    0, 39, 340, 1
    LTEXT           "", IDC_DOWNLOAD_TEXT, 12, 60, 316, 20
    LTEXT           "", IDC_TIME_REMAINING, 12, 90, 316, 10
    CONTROL         "Progress1",1006,"msctls_progress32",PBS_SMOOTH,
                    12, 100, 265, 14
    PUSHBUTTON	    "취소",  2, 285, 100, 46, 14
END
/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    105, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 236
        TOPMARGIN, 7
        BOTTOMMARGIN, 63
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DOWNLOAD_CANCEL_MESSAGE   "응용 프로그램에서 필요한 추가 구성 요소의 설치를 취소하면 응용 프로그램이 종료될 수 있습니다.\n\n추가 구성 요소의 설치를 취소하시겠습니까?"
    IDS_DOWNLOAD_CANCEL_CAPTION   "취소 - 추가 구성 요소"
    IDS_DOWNLOAD_CANCEL_INSTRUCTION   ""
    IDS_HTTP_INSTRUCTION_REQUEST_TIMEOUT      "연결 시간 초과"
    IDS_HTTP_INSTRUCTION_SERVER_NOT_REACHABLE "인터넷에 연결할 수 없습니다."
    IDS_HTTP_INSTRUCTION_UNKNOWN_ERROR        "서버 오류(오류 %s)"
    IDS_HTTP_INSTRUCTION_SERVICE_UNAVAIL      "서비스를 사용할 수 없음(오류 %s)"
    IDS_HTTP_INSTRUCTION_FORBIDDEN            "액세스가 거부되었거나 금지됨(오류 %s)"
    IDS_HTTP_STATUS_OTHER                     "이 요청 동안 오류가 발생했습니다. 요청을 다시 시도하시겠습니까?"

// HTTP status code
    IDS_HTTP_STATUS_REQUEST_TIMEOUT "서버가 요청을 기다리는 동안 시간이 초과되었습니다."
    IDS_HTTP_STATUS_FORBIDDEN		"서버가 요청을 이해했지만 이행하기를 거부합니다."
    IDS_HTTP_STATUS_SERVER_ERROR	"서버에서 요청 이행을 방해하는 예상치 못한 조건이 발견되었습니다."
    IDS_HTTP_STATUS_SERVICE_UNAVAIL	"서버가 일시적으로 과부하되었습니다."


    IDS_DOWNLOAD_STATUS_RETRY		"현재 서버가 사용 중이므로 %ld초 후에 다시 시도하십시오."

    IDS_ERROR_CAPTION               "오류 - Java 커널"
    IDS_HOURSMINUTESECOND	    "예상된 남은 시간: %d시간 %d분 %.0f초"
    IDS_HOURMINUTESECOND	    "예상된 남은 시간: %d시간 %d분 %.0f초"
    IDS_MINUTESECOND 		    "예상된 남은 시간: %d분 %.0f초"
    IDS_SECOND                      "예상된 남은 시간: %.0f초"
    IDS_DISK_FULL_ERROR_CAPTION     "디스크가 가득 참"
    IDS_DISK_FULL_ERROR             "디스크가 가득 차서 Java Kernel에서 필요한 구성 요소를 다운로드하지 못했습니다. 다시 시도하시겠습니까?"
    IDS_DISK_WRITE_ERROR_CAPTION    "디스크 쓰기 오류"
    IDS_DISK_WRITE_ERROR            "디스크에 쓰는 동안 Java Kernel에서 오류가 발생했습니다. 다시 시도하시겠습니까?"
    IDS_HTTP_STATUS_SERVER_NOT_REACHABLE "시스템의 현재 인터넷 연결 설정으로는 Java Kernel을 계속할 수 없습니다.  Windows 제어판에서 인터넷 옵션 -> 연결을 선택하여 설정 및 프록시 정보가 올바른지 확인하십시오."

    IDS_DOWNLOAD_RETRY             "다운로드 오류"
    IDS_DOWNLOAD_RETRY_TEXT        "요청된 구성 요소를 다운로드하는 동안 오류가 발생했습니다. 이 구성 요소를 다시 다운로드하시겠습니까?"

    IDS_DOWNLOAD                   "추가 구성 요소 설치"
	IDS_DOWNLOAD_UNPACKING         "번들 압축 풀기"
    IDS_DOWNLOAD_TEXT              "필요한 추가 구성 요소가 다운로드되어 설치되면 Java 응용 프로그램이 시작됩니다."
    
    IDS_FILE_UPDATE_ERROR          "%s%s을(를) 업데이트하는 동안 오류가 발생했습니다."
    IDS_FILE_DELETE_ERROR          "%s을(를) 제거하는 동안 오류가 발생했습니다."
    IDS_JAVA_HOME_ERROR            "Java 홈 디렉토리를 확인할 수 없습니다."
    IDS_KERNEL_HOME_ERROR          "jkernel.dll의 경로를 확인할 수 없습니다."
    IDS_JBROKER_ERROR              "jbroker.exe를 시작할 수 없습니다."
    IDS_FATAL_ERROR                "필요한 구성 요소를 다운로드하지 못했습니다.  프로그램이 종료됩니다."
    IDS_ERROR_DOWNLOADING_BUNDLE_PROPERTIES "다운로드 서버와 통신하지 못했습니다.  프로그램이 종료됩니다."
    IDS_ERROR_MALFORMED_BUNDLE_PROPERTIES "다운로드 서버와의 통신 오류가 발생했습니다.  프로그램이 종료됩니다."
    IDS_ERROR_MALFORMED_URL "URL '%s'에서 다운로드하지 못했습니다.  프로그램이 종료됩니다."
END
