grant {
    permission java.io.FilePermission "${java.io.tmpdir}", "read,write";
    permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";
};
