grant {
    permission java.io.FilePermission "<<ALL FILES>>","read,write,delete";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.io";
    permission java.lang.RuntimePermission "getenv.*";
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";
    permission java.util.PropertyPermission "org.jline.*","read";
};
