/*
 * security policy used by downloaded activation group
 */

grant {
  permission java.io.FilePermission "..${/}..${/}test.props", "read";

  permission java.lang.RuntimePermission "accessClassInPackage.sun.rmi.server";
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
};
