grant codeBase "file:${test.classes}/*" {
    permission java.security.SecurityPermission "removeProvider.*";
    permission java.security.SecurityPermission "insertProvider.*";
    permission java.lang.RuntimePermission
               "accessClassInPackage.com.sun.crypto.provider";
    permission java.util.PropertyPermission "test.provider.name", "read";
};
