/*
 * Copyright (c) 2026, Oracle and/or its affiliates. All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
 * or visit www.oracle.com if you need additional information or have any
 * questions.
 */


import java.lang.reflect.Field;
import jdk.internal.vm.annotation.LooselyConsistentValue;
import jdk.internal.vm.annotation.NullRestricted;

<class_annotations>
<class_modifiers> <class_name> <super_class> {
    static Object[] predefined;
    static boolean allowDuplicates = <allow_duplicates>;
<fields_declarations>

    static {
        predefined = new Object[<NUM_PREDEFINED>];
<predefined_values_generation>
    }

    static public <class_name> getPredefinedValue(int i) {
        return (<class_name>)predefined[i];
    }

    public <class_name>(<constructor_args>) {
<fields_initialization>
        super(<super_constructor_args>);
    }

    static class Wrapper {
      <class_name> val;

      Wrapper(<class_name> v) {
          val = v;
      }
    }

    static public void substitutabilityTest() {
        Class<?> c = predefined[1].getClass();
        Field[] fields = c.getDeclaredFields();
        int instanceFields = 0;
        for (Field f : fields) {
            if (!java.lang.reflect.Modifier.isStatic(f.getModifiers())) {
                instanceFields++;
            }
        }
        boolean empty = instanceFields == 0;
        <class_name>[] array = new <class_name>[1];
        for (int i = 0; i < <NUM_PREDEFINED>; i++) {
            Wrapper w = new Wrapper(getPredefinedValue(i));
            array[0] = getPredefinedValue(i);
            if (w.val != array[0]) {
                throw new RuntimeException("Unexpected non-equal field/array comparison with value at index " + i);
            }
            for (int j = 0; j < <NUM_PREDEFINED>; j++) {
                if (i == j || (empty && (i != 0 && j != 0))) {
                    if (w.val != getPredefinedValue(j)) {
                        throw new RuntimeException("Unexpected non-equal field comparison between predefined value at index " + i + " and " + j);
                    }
                    if (array[0] != getPredefinedValue(j)) {
                        throw new RuntimeException("Unexpected non-equal array element comparison between predefined value at index " + i + " and " + j);
                    }
                } else {
                    boolean expectedEqual = allowDuplicates && (getPredefinedValue(i) == getPredefinedValue(j));
                    if ((w.val == getPredefinedValue(j)) != expectedEqual) {
                        throw new RuntimeException("Unexpected field comparison result between predefined values at index " + i + " and " + j + " expectedEqual was " + expectedEqual);
                    }
                    if ((array[0] == getPredefinedValue(j)) != expectedEqual) {
                        throw new RuntimeException("Unexpected array comparison result between predefined values at index " + i + " and " + j + " expectedEqual was " + expectedEqual);
                    }
                }
            }
        }
    }

}
