/*
 * security policy used by activation groups
 */

grant {
  permission java.io.FilePermission "..${/}..${/}test.props", "read";
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
  permission java.util.PropertyPermission "test.*", "read";

  // Needed because of bug#: 4182104
  permission java.lang.RuntimePermission "modifyThreadGroup";
  permission java.lang.RuntimePermission "modifyThread";
};
