
    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]Reduce$vectorteststype$(IntFunction<$type$[]> fa) {
[[KERNEL]]
        assertReductionArraysEquals(r, ra, a,
#if[FP]
                $vectorteststype$::[[TEST]]Reduce, $vectorteststype$::[[TEST]]ReduceAll, RELATIVE_ROUNDING_ERROR_FACTOR_[[TEST]]);
#else[FP]
                $vectorteststype$::[[TEST]]Reduce, $vectorteststype$::[[TEST]]ReduceAll);
#end[FP]
    }

    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]ReduceIdentityValueTests(IntFunction<$type$[]> fa) {
        $type$[] a = fa.apply(SPECIES.length());
        $type$ id = [[TEST_INIT]];

        assertEquals(($type$) (id [[TEST_OP]] id), id,
                            "[[TEST]]([[TEST_INIT]], [[TEST_INIT]]) != [[TEST_INIT]]");

        $type$ x = 0;
        try {
            for (int i = 0; i < a.length; i++) {
                x = a[i];
                assertEquals(($type$) (id [[TEST_OP]] x), x);
                assertEquals(($type$) (x [[TEST_OP]] id), x);
            }
        } catch (AssertionError e) {
            assertEquals(($type$) (id [[TEST_OP]] x), x,
                                "[[TEST]]([[TEST_INIT]], " + x + ") != " + x);
            assertEquals(($type$) (x [[TEST_OP]] id), x,
                                "[[TEST]](" + x + ", [[TEST_INIT]]) != " + x);
        }
    }
