
    @Test(dataProvider = "$type$SaturatingBinaryOpMaskProvider")
    static void [[TEST]]$vectorteststype$Masked(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb,
                                          IntFunction<boolean[]> fm) {
[[KERNEL]]
        assertArraysEquals(r, a, b, mask, $vectorteststype$::[[TEST]]);
    }
