
    @DataProvider
    public Object[][] unsupportedUnaryOpProvider() {
        return unsupportedOperatorProvider(SPECIES, VectorOperators.Unary.class);
    }

    @DataProvider
    public Object[][] unsupportedBinaryOpProvider() {
        return unsupportedOperatorProvider(SPECIES, VectorOperators.Binary.class);
    }

    @DataProvider
    public Object[][] unsupportedTernaryOpProvider() {
        return unsupportedOperatorProvider(SPECIES, VectorOperators.Ternary.class);
    }

    @Test(dataProvider = "unsupportedUnaryOpProvider")
    static void unsupportedUnaryLanewiseOperation(VectorOperators.Unary op) {
        Vector<$Wideboxtype$> vector = SPECIES.zero();
        VectorMask<$Wideboxtype$> mask = SPECIES.maskAll(false);

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op));

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, mask));
    }

    @Test(dataProvider = "unsupportedBinaryOpProvider")
    static void unsupportedBinaryLanewiseOperation(VectorOperators.Binary op) {
        Vector<$Wideboxtype$> vector = SPECIES.zero();
        VectorMask<$Wideboxtype$> mask = SPECIES.maskAll(false);

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, vector));
        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, 0L));

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, vector, mask));
        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, 0L, mask));
    }

    @Test(dataProvider = "unsupportedTernaryOpProvider")
    static void unsupportedTernaryLanewiseOperation(VectorOperators.Ternary op) {
        Vector<$Wideboxtype$> vector = SPECIES.zero();
        VectorMask<$Wideboxtype$> mask = SPECIES.maskAll(false);

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, vector, vector));

        Assert.assertThrows(UnsupportedOperationException.class,
                () -> vector.lanewise(op, vector, vector, mask));
    }
