    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]Reduce$vectorteststype$(IntFunction<$type$[]> fa) {
[[KERNEL]]
        assertReductionArraysEquals(a, r, ra,
                $vectorteststype$::[[TEST]]Reduce, $vectorteststype$::[[TEST]]ReduceAll);
    }
