
    static boolean u[[TEST]](boolean a) {
        return [[TEST_OP]];
    }

    @Test(dataProvider = "maskBinaryOpProvider")
    static void mask[[TEST]]$vectorteststype$(IntFunction<boolean[]> fa, IntFunction<boolean[]> fb) {
[[KERNEL]]
        assertArraysEquals(r, a, $vectorteststype$::u[[TEST]]);
    }
