
    @Test(dataProvider = "$type$UnaryOpProvider")
    static void with$vectorteststype$(IntFunction<$type$ []> fa) {
[[KERNEL]]

        for (int i = 0, j = 0; i < a.length; i += SPECIES.length()) {
            assertInsertArraysEquals(r, a, ($type$)(65535+i), (j++ & (SPECIES.length()-1)), i , i + SPECIES.length());
        }
    }
