
    @Test(dataProvider = "$type$BinaryOpProvider")
    static void [[TEST]]$vectorteststype$BroadcastLongSmokeTest(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb) {
[[KERNEL]]
        assertBroadcastLongArraysEquals(a, b, r, $vectorteststype$::[[TEST]]);
    }
