
    @Test(dataProvider = "$type$BinaryOpMaskProvider")
    static void [[TEST]]$vectorteststype$Masked(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb,
                                          IntFunction<boolean[]> fm) {
[[KERNEL]]
        assertArraysEquals(a, b, r, mask, $vectorteststype$::[[TEST]]);
    }
