
    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]Reduce$vectorteststype$(IntFunction<$type$[]> fa) {
[[KERNEL]]
        assertReductionArraysEquals(r, ra, a,
                $vectorteststype$::[[TEST]]Reduce, $vectorteststype$::[[TEST]]ReduceAll);
    }

    @Test(dataProvider = "$type$UnaryOpProvider")
    static void [[TEST]]ReduceIdentityValueTests(IntFunction<$type$[]> fa) {
        $type$[] a = fa.apply(SPECIES.length());
        $type$ id = [[TEST_INIT]];

        assertEquals([[TEST_OP]](id, id), id,
                            "[[TEST]]([[TEST_INIT]], [[TEST_INIT]]) != [[TEST_INIT]]");

        $type$ x = 0;
        try {
            for (int i = 0; i < a.length; i++) {
                x = a[i];
                assertEquals([[TEST_OP]](id, x), x);
                assertEquals([[TEST_OP]](x, id), x);
            }
        } catch (AssertionError e) {
            assertEquals([[TEST_OP]](id, x), x,
                                "[[TEST]]([[TEST_INIT]], " + x + ") != " + x);
            assertEquals([[TEST_OP]](x, id), x,
                                "[[TEST]](" + x + ", [[TEST_INIT]]) != " + x);
        }
    }
