<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LPic</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			AAAABAAAAAAAAAADAAEAAAAOAAIAAQA0AAMAAQ==
			</data>
			<key>ID</key>
			<string>5000</string>
			<key>Name</key>
			<string></string>
		</dict>
	</array>
	<key>STR#</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			STR_DATA_ENGLISH
			</data>
			<key>ID</key>
			<string>5000</string>
			<!-- Note: Values if "Name" keys should not be localized for all languages. It is internal use only. -->
			<key>Name</key>
			<string>English (United States)</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			STR_DATA_GERMAN
			</data>
			<key>ID</key>
			<string>5001</string>
			<key>Name</key>
			<string>German</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			STR_DATA_JAPANESE
			</data>
			<key>ID</key>
			<string>5002</string>
			<key>Name</key>
			<string>Japanese</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			STR_DATA_SIMPLIFIED_CHINESE
			</data>
			<key>ID</key>
			<string>5003</string>
			<key>Name</key>
			<string>Chinese (Simplified)</string>
		</dict>
	</array>
	<key>TEXT</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			APPLICATION_LICENSE_TEXT
			</data>
			<key>ID</key>
			<string>5000</string>
			<key>Name</key>
			<string>English (United States) SLA</string>
		</dict>
				<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			APPLICATION_LICENSE_TEXT
			</data>
			<key>ID</key>
			<string>5001</string>
			<key>Name</key>
			<string>German SLA</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			APPLICATION_LICENSE_TEXT
			</data>
			<key>ID</key>
			<string>5002</string>
			<key>Name</key>
			<string>Japanese SLA</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>
			APPLICATION_LICENSE_TEXT
			</data>
			<key>ID</key>
			<string>5003</string>
			<key>Name</key>
			<string>Chinese (Simplified) SLA</string>
		</dict>
	</array>
</dict>
</plist>
