/*
 * security policy used by activation groups
 */

grant {
  permission java.io.FilePermission "..${/}..${/}test.props", "read";

  // accomodate property used by this test.
  permission java.util.PropertyPermission "test.message", "read";

  // test needs to communicate with the activation system
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
};
