//
// Copyright (c) 2023, Oracle and/or its affiliates. All rights reserved.
// DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
//
// This code is free software; you can redistribute it and/or modify it
// under the terms of the GNU General Public License version 2 only, as
// published by the Free Software Foundation.
//
// This code is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
// FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
// version 2 for more details (a copy is included in the LICENSE file that
// accompanied this code).
//
// You should have received a copy of the GNU General Public License version
// 2 along with this work; if not, write to the Free Software Foundation,
// Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
//
// Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
// or visit www.oracle.com if you need additional information or have any
// questions.
//

// for JTwork/classes/<N>/test/lib/jdk/test/lib/net/SimpleSSLContext.class and
// JTwork/classes/<N>/test/lib/jdk/test/lib/net/IPSupport.class
grant codeBase "file:${test.classes}/../../../../../test/lib/-" {
    permission java.util.PropertyPermission "test.src.path", "read";
    permission java.io.FilePermission "${test.src}/../../../../../lib/jdk/test/lib/net/testkeys", "read";
    permission java.util.PropertyPermission "java.net.preferIPv4Stack", "read";
    permission java.util.PropertyPermission "java.net.preferIPv6Addresses", "read";
};

// for classes in JTwork//classes/<N>/test/jdk/java/net/httpclient/lib/
grant codeBase "file:${test.classes}/../../../../../test/jdk/java/net/httpclient/lib/-" {

    // use in common test server infrastructure code
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.common";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.frame";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.hpack";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.http";

    // quic
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.packets";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.readers";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.writers";

    // HTTP/3
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack";

    // TestUtil uses jdk.internal.util.OperatingSystem
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.util";

    permission java.util.PropertyPermission "*", "read";
    permission java.lang.RuntimePermission "modifyThread";
};


grant codeBase "file:${test.classes}/-" {

    // use in common test server infrastructure code
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.common";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.frame";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.hpack";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.http";

    // quic
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.packets";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.readers";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.writers";

    // HTTP/3
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack";

    // TestUtil uses jdk.internal.util.OperatingSystem
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.util";

    // test issues HTTP GET, POST and HEAD requests over H3 (and thus only https)
    permission java.net.URLPermission "https://localhost:*/-", "GET";
    permission java.net.URLPermission "https://localhost:*/-", "POST";
    permission java.net.URLPermission "https://localhost:*/-", "HEAD";
    permission java.net.URLPermission "https://127.0.0.1:*/-", "GET";
    permission java.net.URLPermission "https://127.0.0.1:*/-", "POST";
    permission java.net.URLPermission "https://127.0.0.1:*/-", "HEAD";
    permission java.net.URLPermission "https://[0:0:0:0:0:0:0:1]:*/-", "GET";
    permission java.net.URLPermission "https://[0:0:0:0:0:0:0:1]:*/-", "POST";
    permission java.net.URLPermission "https://[0:0:0:0:0:0:0:1]:*/-", "HEAD";

    permission java.lang.RuntimePermission "modifyThread";
};

// TODO: needed because of JDK-8305530
grant codeBase "jrt:/java.net.http" {
    // use in common test server infrastructure code
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.common";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.frame";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.hpack";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.net.www.http";

    // quic
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.packets";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.quic.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.readers";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack.writers";

    // HTTP/3
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.frames";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3.streams";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.http3";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.net.http.qpack";
};
