grant codeBase "jrt:/jdk.crypto.ucrypto" {
    permission java.lang.RuntimePermission
                   "accessClassInPackage.sun.security.*";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.ch";
    permission java.lang.RuntimePermission "loadLibrary.j2ucrypto";
    // need "com.oracle.security.ucrypto.debug" for debugging
    permission java.util.PropertyPermission "com.oracle.security.ucrypto.debug", "read";
    permission java.util.PropertyPermission "file.separator", "read";
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.security.SecurityPermission
                   "putProviderProperty.OracleUcrypto";
    permission java.security.SecurityPermission
                   "clearProviderProperties.OracleUcrypto";
    permission java.security.SecurityPermission
                   "removeProviderProperty.OracleUcrypto";
    // Needed for reading Ucrypto config file
    permission java.io.FilePermission "<<ALL FILES>>", "read";
};
