grant {
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.manager=default";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.policy=*";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Dsun.rmi.server.doSomething=true";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Dfoo.bar=SetChildEnvTest";
    permission com.sun.rmi.rmid.ExecOptionPermission "-verbosegc";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Dparameter.count=zero";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Xmx32m";
    permission java.lang.RuntimePermission "selectorProvider";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.ch";
    permission java.util.PropertyPermission "test.java.rmi.testlibrary.RMIDSelectorProvider.port", "read";
    permission java.util.PropertyPermission "test.java.rmi.testlibrary.RMIDSelectorProvider.timeout", "read";
    permission java.net.SocketPermission "*:1024-", "listen,resolve,connect,accept";
};
