#include "version.rc"

#define IDI_ICON 2000

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDI_ICON           ICON    DISCARDABLE     "awt.ico"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//
1                  RT_MANIFEST             "java.manifest"
