grant 
{
    permission java.security.SecurityPermission "removeProvider.SunJCE";
    permission java.security.SecurityPermission "insertProvider.SunJCE";
    permission java.security.SecurityPermission "putProviderProperty.SunJCE";
};
