grant {
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.manager=default";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.policy=*";
};
