/*
 * security policy used activation groups
 */

grant {
  // test needs to communicate with the activation system
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
};
