grant {
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.manager=java.lang.SecurityManager";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.policy=*";

    // test needs to export a set of internal APIs to access them from unamed module
    permission com.sun.rmi.rmid.ExecOptionPermission "*";
    permission java.lang.RuntimePermission "selectorProvider";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.ch";
    permission java.util.PropertyPermission "test.java.rmi.testlibrary.RMIDSelectorProvider.port", "read";
    permission java.util.PropertyPermission "test.java.rmi.testlibrary.RMIDSelectorProvider.timeout", "read";
    permission java.net.SocketPermission "*:1024-", "listen,resolve,connect,accept";
};
