/*
 * security policy used by activation groups
 */

grant {
  permission java.io.FilePermission "..${/}..${/}test.props", "read";
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
  permission java.util.PropertyPermission "test.*", "read";

  permission java.lang.RuntimePermission "getClassLoader";
};
