grant {
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.security.SecurityPermission "getPolicy";
    permission java.security.SecurityPermission "setPolicy";
};

grant codebase "file:${test.classes}/*" {
    permission java.util.PropertyPermission "java.policy.dirs", "read, write";
    permission java.util.PropertyPermission "user.name", "write";
    permission java.util.PropertyPermission "user.home", "write";
};

grant codebase "file:${java.policy.dirs}" {
    permission java.util.PropertyPermission "user.name", "read";
    permission java.util.PropertyPermission "user.home", "read";
};

